.Container {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  text-align: center;
  width: 100%;
  height: 100%;
  margin-top: 12em;
}
.Container span {
  color: var(--blueIntense);
}
.title {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-bottom: 2em;
  padding-left: 12em;
}
.loadingContainer {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.loading {
  height: 10em;
}
.h1 {
  font-family: "Roboto Mono", monospace;
  border-bottom: 1.6px solid var(--blueIntense);
}

.description {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin-bottom: 2.5em;
  text-align: left;
}

.theP {
  width: 100%;
  padding-left: 12em;
  padding-right: 12em;
  position: relative;
  font-weight: 400;
}

.divImg {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  overflow: hidden;
  position: relative;
  background-color: var(--blue);
  margin: 2em;
  flex-shrink: 0;
}

.img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.tecnologias,
.tools,
.softSkills {
  width: 55em;
  font-family: "Roboto Mono", monospace;
  margin-bottom: 2em;
  text-align: left;
}

.ul {
  display: flex;
  flex-wrap: wrap;
  padding-top: 1em;
  gap: 12px;
}

.ul li {
  padding: 3px 7px;
  border: 1.7px solid var(--blueIntense);
  list-style: none;
  border-radius: 5px;
  font-weight: 500;
}
.space {
  padding-bottom: 10em;
}
.containerCertificate {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 30px;
  gap: 1em;
}

.containerCertificate h4 {
  font-size: 24px;
  font-family: "Roboto Mono", monospace;
  text-align: center;
  margin-bottom: 10px;
  font-weight: 500;
}

.divCertificate {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.certificateLight {
  border: 1.6px solid var(--blackText);
}
.certificateDark {
  border: 2px solid var(--white);
}
.certificate {
  max-width: 90%;
  height: auto;
  padding: 13px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

@media (max-width: 391px) {
  .Container {
    margin-top: 7em;
    height: 100%;
  }
  .title {
    padding: 0px 15px;
  }
  .h1 {
    font-size: 20px;
  }
  .theP {
    width: 95%;
    font-size: 12px;
    padding-left: 3px;
    padding-right: 3px;
  }
  .divImg {
    display: none;
  }
  .tecnologias,
  .tools,
  .softSkills {
    width: 95%;
    font-size: 15px;
  }
  .ul {
    font-size: 10px;
  }
  .containerCertificate h4 {
    font-size: 13px;
  }
}
@media (min-width: 391px) and (max-width: 768px) {
  .Container {
    margin-top: 7em;
    height: 100%;
  }
  .title {
    padding: 0px 15px;
  }
  .h1 {
    font-size: 20px;
  }
  .theP {
    width: 95%;
    font-size: 14px;
    padding-left: 3px;
    padding-right: 3px;
  }
  .divImg {
    display: none;
  }
  .tecnologias,
  .tools,
  .softSkills {
    width: 95%;
    font-size: 15px;
  }
  .ul {
    font-size: 13px;
  }
}

@media (min-width: 768px) and (max-width: 992px) {
  .Container {
    height: 100%;
  }
  .theP {
    width: 95%;
    font-size: 17px;
    padding-left: 3px;
    padding-right: 3px;
  }
}
@media (min-width: 992px) and (max-width: 1260px) {
  .Container {
    height: 100%;
  }
  /* Estilos para pantallas con ancho mínimo de 992px */
}
