.projectContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  width: 100%;
  height: 100%;
  border: 1.6px solid var(--blueIntense);
  border-radius: 4px;
}
.divImageResponsive {
  display: none;
}
.title {
  width: 100%;
  border-bottom: 1.6px solid var(--blueIntense);
  padding-bottom: 10px;
  margin-bottom: 1em;
}

.projectContainer span {
  color: var(--blueIntense);
}

.row {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

.oneThird {
  width: 50%;
  height: 24em;
  padding: 1em;
  overflow-y: scroll;
  scrollbar-width: thin;
  font-weight: 400;
}

.oneThird::-webkit-scrollbar {
  width: 8px;
}

.oneThird::-webkit-scrollbar-thumb {
  background-color: var(--blueIntense);
}

.oneThird::-webkit-scrollbar-thumb:hover {
  background-color: var(--blue);
}

.twoThirds {
  width: 50%;
  height: 24em;
  display: flex;
  align-items: center;
  justify-content: center;
}
.ul {
  display: flex;
  gap: 12px;
  flex-wrap: wrap;
  padding-top: 1em;
}
.ul li {
  padding: 3px 7px;
  border: 1.7px solid var(--blueIntense);
  list-style: none;
  border-radius: 5px;
  font-weight: 500;
}

.carouselImageContainer {
  width: 100%;
  height: 25em;
  display: flex;
  align-items: center;
  justify-content: center;
}
.carouselImage {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
}

.links {
  display: flex;
  flex-direction: column;
  gap: 12px;
  padding: 2em 1em;
}

.linkLight .link {
  color: var(--black);
}
.linkDark .link {
  color: var(--whiteLight);
}

.link {
  display: flex;
  align-items: center;
  text-decoration: none;
  font-weight: 500;
}
.icon {
  color: var(--blueIntense);
  font-size: 20px;
  margin-right: 8px;
  margin-top: -19px;
}

@media (max-width: 391px) {
  .projectContainer {
    padding: 0px 0px;
    border: none;
    padding: 1px 5px;
  }
  .twoThirds {
    display: none;
  }
  .divImageResponsive {
    max-width: 100%;
    display: flex;
    height: auto;
  }
  .imageResponsive {
    max-width: 100%;
  }
  .title {
    font-size: 16px;
    padding: 1px;
    text-align: center;
    border-bottom: none;
  }
  .oneThird {
    width: 100%;
    height: 100%;
    padding: 0px;
    overflow-y: visible;
  }
  .oneThird p {
    font-size: 12px;
  }
  .ul {
    display: flex;
    gap: 5px;
    flex-wrap: wrap;
    padding-top: 1em;
  }
  .ul li {
    padding: 3px 7px;
    border: 1px solid var(--blue);
    list-style: none;
    border-radius: 5px;
    font-size: 10px;
  }
}
@media (min-width: 391px) and (max-width: 768px) {
  .projectContainer {
    padding: 0px 0px;
    border: none;
    padding: 1px 5px;
  }
  .twoThirds {
    display: none;
  }
  .divImageResponsive {
    max-width: 100%;
    display: flex;
    height: auto;
  }
  .imageResponsive {
    max-width: 100%;
  }
  .title {
    font-size: 17px;
    padding: 1px;
    text-align: center;
    border-bottom: none;
  }
  .oneThird {
    width: 100%;
    height: 100%;
    padding: 0px;
    overflow-y: visible;
  }
  .oneThird p {
    font-size: 14px;
  }
  .ul {
    display: flex;
    gap: 5px;
    flex-wrap: wrap;
    padding-top: 1em;
  }
  .ul li {
    padding: 3px 7px;
    border: 1px solid var(--blue);
    list-style: none;
    border-radius: 5px;
    font-size: 14px;
  }
}

@media (min-width: 768px) and (max-width: 992px) {
  /* Estilos para pantallas con ancho entre 768px y 992px */
  .projectContainer {
    padding: 0px 0px;
    border: none;
    padding: 1px 5px;
  }
  .twoThirds {
    display: none;
  }
  .divImageResponsive {
    max-width: 100%;
    display: flex;
    height: auto;
  }
  .imageResponsive {
    max-width: 100%;
  }
  .title {
    font-size: 25px;
    padding: 1px;
    text-align: center;
    border-bottom: none;
  }
  .oneThird {
    width: 100%;
    height: 100%;
    padding: 0px;
    overflow-y: visible;
  }
  .oneThird p {
    font-size: 18px;
  }
  .ul {
    display: flex;
    gap: 5px;
    flex-wrap: wrap;
    padding-top: 1em;
  }
  .ul li {
    padding: 3px 7px;
    border: 1px solid var(--blue);
    list-style: none;
    border-radius: 5px;
    font-size: 18px;
  }
}

@media (min-width: 992px) and (max-width: 1300px) {
  /* Estilos para pantallas con ancho mínimo de 992px */
  .projectContainer {
    padding: 0px 0px;
    border: none;
    padding: 1px 5px;
  }
  .twoThirds {
    display: none;
  }
  .divImageResponsive {
    max-width: 100%;
    display: flex;
    height: auto;
  }
  .imageResponsive {
    max-width: 100%;
  }
  .title {
    font-size: 25px;
    padding: 1px;
    text-align: center;
    border-bottom: none;
  }
  .oneThird {
    width: 100%;
    height: 100%;
    padding: 0px;
    overflow-y: visible;
  }
  .oneThird p {
    font-size: 18px;
  }
  .ul {
    display: flex;
    gap: 5px;
    flex-wrap: wrap;
    padding-top: 1em;
  }
  .ul li {
    padding: 3px 7px;
    border: 1px solid var(--blue);
    list-style: none;
    border-radius: 5px;
    font-size: 18px;
  }
}
