.buttonLight {
  background-color: var(--whiteLight);
  color: var(--black);
}
.buttonDark {
  color: var(--white);
  background-color: var(--black);
}

.scrollToTopButton {
  position: fixed;
  bottom: 20px;
  right: 20px;
  border: 1.6px solid var(--blueIntense);
  border-radius: 100px;
  padding: 4px 6px;
  height: 50px;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
}

.scrollToTopButton:hover {
  background-color: rgba(0, 255, 255, 0.2);
}
