.homeContainer {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  width: 100%;
  height: 100vh;
  margin-top: 14em;
}
.containerTitle {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 70%;
  gap: 1em;
}
.containerTitle h1 {
  color: var(--white);
  border-bottom: 1px solid var(--blue);
}

.projectsContainer {
}

.space {
  height: 10em;
}

@media (max-width: 391px) {
  .Portfolio {
    margin-top: 7em;
    align-items: center;
  }
  .container {
    gap: 2em;
  }
  .titlePag {
    width: 100%;
    display: flex;
    align-items: center;
  }
  .h1 {
    font-size: 18px;
    margin-left: 1em;
  }
  .image {
    width: 95%;
    margin: 0px 4px;
    filter: none;
  }
  .contentModelOne {
    flex-direction: column;
    gap: 2em;
  }
  .contentModelTwo {
    flex-direction: column;
    gap: 5em;
  }
  .website {
    margin-bottom: 1em;
  }
  .titleWeb {
    font-size: 17px;
  }
  .subtitle {
    font-size: 17px;
    text-align: center;
  }
  .divParrafo {
    max-width: 95%;
  }
  .links {
    justify-content: center;
    gap: 0px;
  }
}
@media (min-width: 391px) and (max-width: 768px) {
  .Portfolio {
    margin-top: 7em;
    align-items: center;
  }
  .container {
    gap: 2em;
  }
  .titlePag {
    width: 100%;
    display: flex;
    align-items: center;
  }
  .h1 {
    font-size: 18px;
    margin-left: 1em;
  }
  .image {
    width: 95%;
    margin: 0px 4px;
    filter: none;
  }
  .contentModelOne {
    flex-direction: column;
    gap: 2em;
  }
  .contentModelTwo {
    flex-direction: column;
    gap: 5em;
  }
  .website {
    margin-bottom: 1em;
  }
  .titleWeb {
    font-size: 17px;
  }
  .subtitle {
    font-size: 17px;
    text-align: center;
  }
  .divParrafo {
    max-width: 95%;
  }
  .links {
    justify-content: center;
    gap: 0px;
  }
}

@media (min-width: 768px) and (max-width: 992px) {
  /* Estilos para pantallas con ancho entre 768px y 992px */
  .Portfolio {
    margin-top: 12em;
    align-items: center;
  }
  .container {
    gap: 2em;
  }
  .titlePag {
    width: 100%;
    display: flex;
    align-items: center;
  }
  .h1 {
    font-size: 18px;
    margin-left: 1em;
  }
  .image {
    width: 95%;
    margin: 0px 4px;
    filter: none;
  }
  .contentModelOne {
    flex-direction: column;
    gap: 2em;
  }
  .contentModelTwo {
    flex-direction: column;
    gap: 5em;
  }
  .website {
    margin-bottom: 1em;
  }
  .titleWeb {
    font-size: 17px;
  }
  .subtitle {
    font-size: 17px;
    text-align: center;
  }
  .divParrafo {
    max-width: 95%;
  }
  .links {
    justify-content: center;
    gap: 0px;
  }
}

@media (min-width: 992px) and (max-width: 1071px) {
  /* Estilos para pantallas con ancho mínimo de 992px */
  .container {
    max-width: 70%;
    gap: 5em;
  }
  .image {
    width: 100%;
  }
  .contentModelOne {
    font-size: 15px;
  }
  .contentModelTwo {
    font-size: 15px;
  }
  .titleWeb {
    margin-bottom: 1.5em;
  }
}
