.homeContainer {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  width: 100%;
  /* height: 120vh; */
  margin-top: 12em;
}
.containerTitle {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 70%;
  gap: 1em;
  margin-bottom: 3em;
}
.containerTitle h1 {
  color: var(--white);
  border-bottom: 1px solid var(--blue);
}

.projectsContainer {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 7em;
  padding: 0em 4em;
}
.space {
  padding-bottom: 3em;
}
.loadingContainer {
  width: 100%;
  height: 35em;
  display: flex;
  align-items: center;
  justify-content: center;
}
.loading {
  height: 10em;
}
@media (max-width: 391px) {
  .homeContainer {
    margin-top: 7em;
  }
  .containerTitle h1,
  h4 {
    font-size: 1em;
  }
  .projectsContainer {
    gap: 2em;
    padding: 0em 0em;
  }
}
@media (min-width: 391px) and (max-width: 768px) {
  .homeContainer {
    margin-top: 7em;
  }
  .containerTitle h1,
  h4 {
    font-size: 1.1em;
  }
  .projectsContainer {
    gap: 2em;
    padding: 0em 0em;
  }
}

@media (min-width: 768px) and (max-width: 992px) {
  /* Estilos para pantallas con ancho entre 768px y 992px */
}

@media (min-width: 992px) {
  /* Estilos para pantallas con ancho mínimo de 992px */
}
