.container {
  border: 1.6px solid var(--blueIntense);
  padding: 20px;
  width: 100%;
  border-radius: 4px;
}
.containerData {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1.6px solid var(--blueIntense);
  padding-bottom: 10px;
}
.title {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  width: 60%;
  border-right: 1.6px solid var(--blueIntense);
  border-left: 1.6px solid var(--blueIntense);
}
.data {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  width: 25%;
}
.link {
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
.icon {
  font-size: 20px;
}
.logoContainer {
  width: 15%;
}
.logoHenry {
  height: 25px;
}
.logoLabsIF {
  height: 35px;
}
.containerInfo {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding-top: 20px;
  text-align: left;
}
.function {
  width: 50%;
}
.skills {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50%;
}
.techSkills {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

.techSkills li {
  padding: 3px 7px;
  border: 1.7px solid var(--blueIntense);
  list-style: none;
  border-radius: 5px;
  font-weight: 450;
}
.tools {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}
.tools li {
  border: 1.7px solid var(--turquoise);
  padding: 3px 7px;
  list-style: none;
  border-radius: 5px;
  font-weight: 450;
}
.softSkills {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}
.softSkills li {
  border: 1.7px solid var(--primary);
  padding: 3px 7px;
  list-style: none;
  border-radius: 5px;
  font-weight: 450;
}

@media (max-width: 391px) {
  .container {
    border: none;
    padding: 2px;
    padding: 10px;
    border: 1.5px solid var(--blueIntense);
  }
  .containerData {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: none;
    padding-bottom: 10px;
    gap: 10px;
  }
  .logoContainer {
    width: 95%;
  }
  .logoHenry {
    height: 20px;
  }
  .logoLabsIF {
    height: 30px;
  }
  .title {
    gap: 5px;
    font-size: 16px;
    width: 95%;
    border: none;
  }
  .data {
    font-size: 14px;
    gap: 5px;
    width: 95%;
  }
  .icon {
    font-size: 15px;
  }

  .containerInfo {
    padding-top: 10px;
    flex-direction: column;
  }
  .function {
    width: 95%;
    font-size: 13px;
  }
  .skills {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 95%;
  }
  .techSkills {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    gap: 10px;
  }

  .techSkills li {
    padding: 3px 7px;
    border: 1.7px solid var(--blueIntense);
    list-style: none;
    border-radius: 5px;
    font-weight: 450;
    font-size: 10px;
  }
  .tools {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    gap: 10px;
  }
  .tools li {
    padding: 3px 7px;
    border: 1.7px solid var(--blueIntense);
    list-style: none;
    border-radius: 5px;
    font-weight: 450;
    font-size: 10px;
  }
  .softSkills {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    gap: 10px;
  }
  .softSkills li {
    padding: 3px 7px;
    border: 1.7px solid var(--blueIntense);
    list-style: none;
    border-radius: 5px;
    font-weight: 450;
    font-size: 10px;
  }
}
@media (min-width: 391px) and (max-width: 768px) {
  .container {
    border: none;
    padding: 2px;
    padding: 10px;
    border: 1.5px solid var(--blueIntense);
  }
  .containerData {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: none;
    padding-bottom: 10px;
    gap: 10px;
  }
  .logoContainer {
    width: 95%;
  }
  .logoHenry {
    height: 20px;
  }
  .logoLabsIF {
    height: 30px;
  }
  .title {
    gap: 5px;
    font-size: 16px;
    width: 95%;
    border: none;
  }
  .data {
    font-size: 14px;
    gap: 5px;
    width: 95%;
  }
  .icon {
    font-size: 15px;
  }

  .containerInfo {
    padding-top: 10px;
    flex-direction: column;
  }
  .function {
    width: 95%;
    font-size: 13px;
  }
  .skills {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 95%;
  }
  .techSkills {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    gap: 10px;
  }

  .techSkills li {
    padding: 3px 7px;
    border: 1.7px solid var(--blueIntense);
    list-style: none;
    border-radius: 5px;
    font-weight: 450;
    font-size: 10px;
  }
  .tools {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    gap: 10px;
  }
  .tools li {
    padding: 3px 7px;
    border: 1.7px solid var(--blueIntense);
    list-style: none;
    border-radius: 5px;
    font-weight: 450;
    font-size: 10px;
  }
  .softSkills {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    gap: 10px;
  }
  .softSkills li {
    padding: 3px 7px;
    border: 1.7px solid var(--blueIntense);
    list-style: none;
    border-radius: 5px;
    font-weight: 450;
    font-size: 10px;
  }
}

@media (min-width: 768px) and (max-width: 992px) {
  /* Estilos para pantallas con ancho entre 768px y 992px */
}

@media (min-width: 992px) {
  /* Estilos para pantallas con ancho mínimo de 992px */
}
