.redes {
  display: flex;
  justify-content: center;
  gap: 12px;
}
.redesFooter {
  display: flex;
  justify-content: center;
  gap: 2em;
  width: 70%;
  border-top: 1.6px solid var(--blueIntense);
  padding-top: 2.5em;
}

.redesLight .iconos {
  color: var(--black);
}
.redesDark .iconos {
  color: var(--white);
}

.iconos {
  background: transparent;
  font-size: 1.5em;
  transition: color 0.4s, transform 0.4s;
}
.iconos:hover {
  color: var(--blueIntense);
  transform: translateY(-3px);
}
