:root {
  --black: #0f172a;
  --blackLight: #4e4e4e88;
  --blackIntense: #252525;
  --blackText: #333333;
  --orange: #fe8943;
  --white: #ffffff;
  --whiteLight: #f2f2f2;
  --greenLight: #237a4d;
  --green: #2b463d;
  --primary: #00cc8f;
  --turquoise: #51dad0;
  --blue: #00ffff;
  --blueIntense: #00cccc;
  --gray: #cccccc;
}

@media (max-width: 391px) {
}
@media (min-width: 391px) and (max-width: 768px) {
}

@media (min-width: 768px) and (max-width: 992px) {
  /* Estilos para pantallas con ancho entre 768px y 992px */
}

@media (min-width: 992px) {
  /* Estilos para pantallas con ancho mínimo de 992px */
}

body {
  margin: 0;
  background-color: var(--black);
  /* font-family: "Instrument Sans", sans-serif; */
  /* font-family: "Manrope", sans-serif; */
  /* font-family: "Noto Sans", sans-serif; */
  /* font-family: "Roboto Condensed", sans-serif; */
  font-family: "Open Sans", sans-serif;
}

li::marker {
  color: var(--blueIntense);
}
body {
  overflow-y: scroll;
  scrollbar-width: thin;
  scrollbar-color: var(--blueIntense) transparent;
  scroll-behavior: smooth;
}

body::-webkit-scrollbar {
  width: 9px;
}

body::-webkit-scrollbar-track {
  background-color: var(--black);
}

body::-webkit-scrollbar-thumb {
  background-color: var(--blueIntense);
}

body::-webkit-scrollbar-thumb:hover {
  background-color: var(--blue);
}
