.container {
  position: fixed;
  top: 0;
  left: 0;
  width: 80%;
  background-color: var(--black);
  z-index: 999;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 8em;
  margin-bottom: 1em;
  opacity: 0.9;
  box-shadow: 0 0px 1px rgba(0, 0, 0, 0.2);
}
.logo {
  margin: 3em;
  width: 11em;
}

.links {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.link {
  margin: 1.5em;
  font-family: "Open Sans", sans-serif;
  text-decoration: none;
  font-weight: 500;
  color: var(--white);
  font-size: 1.1em;
  transition: color 0.4s;
  display: flex;
  align-items: center;
}
.link:hover {
  color: var(--blue);
}
.link-active {
  color: var(--blue);
  transition: all 0.4s;
}

.iconos {
  color: var(--blue);
  margin: 0.3em;
}

@media (max-width: 391px) {
  .container {
    height: 4.8em;
    align-items: flex-end;
  }
  .logo {
    font-size: 8px;
    margin: 0;
    padding: 0;
  }
  .divLogo {
    position: absolute;
    top: 8px;
    left: 8px;
  }
  .links {
    font-size: 11px;
    gap: 4px;
    display: flex;
    width: 100%;
    align-items: center;
  }
  .link {
    margin: 0;
    padding: 0;
  }
  .divButton {
    position: absolute;
    top: 11px;
    right: 18px;
    margin: 0px;
  }
  .button {
    margin: 0px;
    padding: 4px 3px;
  }
}
@media (min-width: 391px) and (max-width: 768px) {
  .container {
    height: 4.8em;
    align-items: flex-end;
  }
  .logo {
    font-size: 8px;
    margin: 0;
    padding: 0;
  }
  .divLogo {
    position: absolute;
    top: 8px;
    left: 8px;
  }
  .links {
    font-size: 13px;
    gap: 4px;
    display: flex;
    width: 100%;
    align-items: center;
  }
  .link {
    margin: 0;
    padding: 0;
  }
  .divButton {
    position: absolute;
    top: 11px;
    right: 18px;
    margin: 0px;
  }
  .button {
    margin: 0px;
    padding: 4px 3px;
  }
}

@media (min-width: 768px) and (max-width: 992px) {
  /* Estilos para pantallas con ancho entre 768px y 992px */
  .container {
    align-items: flex-end;
  }
  .logo {
    margin: 0;
    padding: 0;
  }
  .divLogo {
    position: absolute;
    top: 8px;
    left: 8px;
  }
  .links {
    gap: 4px;
    display: flex;
    width: 100%;
    align-items: center;
  }
  .link {
    margin: 0;
    padding: 0;
  }
  .divButton {
    position: absolute;
    top: 16px;
    right: 18px;
    margin: 0px;
  }
  .button {
    margin: 0px;
    padding: 4px 3px;
  }
}

@media (min-width: 992px) {
  /* Estilos para pantallas con ancho mínimo de 992px */
}
