.container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 999;
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 6.5em;
  margin-bottom: 1em;
  opacity: 0.9;
}
.containerDark {
  background-color: var(--black);
}
.containerLight {
  background-color: var(--whiteLight);
}

.logo {
  margin-top: 1.5em;
  margin-left: 3em;
  width: 11em;
}

.linksLight .link {
  color: var(--black);
}

.linksDark .link {
  color: var(--whiteLight);
}
.links {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.link {
  margin: 1.5em;
  font-family: "Open Sans", sans-serif;
  text-decoration: none;
  font-weight: 500;
  font-size: 1.1em;
  transition: color 0.4s;
  display: flex;
  align-items: center;
}
.link:hover {
  color: var(--blueIntense);
}
.link-active {
  color: var(--blueIntense);
  transition: all 0.4s;
}

.iconos {
  color: var(--blueIntense);
  margin: 0.3em;
}
.button {
  background-color: var(--blueIntense);
  color: var(--white);
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.9);
  border: none;
  padding: 0.5em 1.2em;
  font-size: 1em;
  font-weight: 500;
  cursor: pointer;
  border-radius: 4px;
  transition: background-color 0.3s ease;
  font-family: "Open Sans", sans-serif;
  outline: none;
}

.button:hover {
  background-color: var(--blue);
}

@media (max-width: 391px) {
  .container {
    height: 4.8em;
    align-items: flex-end;
  }
  .logo {
    font-size: 8px;
    margin: 0em 0em;
    padding: 0em 0em;
    width: 7em;
    height: auto;
  }
  .divLogo {
    position: absolute;
    top: 2px;
    left: 2px;
  }
  .links {
    font-size: 13px;
    gap: 4px;
    display: flex;
    width: 100%;
    align-items: center;
  }
  .link {
    margin: 0;
    padding: 0;
  }
  .divButton {
    position: absolute;
    top: 11px;
    right: 18px;
    margin: 0px;
  }
  .button {
    margin: 0px;
    padding: 4px 3px;
  }
}
@media (min-width: 391px) and (max-width: 768px) {
  .container {
    height: 4.8em;
    align-items: flex-end;
  }
  .logo {
    font-size: 8px;
    margin: 0em 0em;
    padding: 0px 0px;
    width: 7em;
    height: auto;
  }
  .divLogo {
    position: absolute;
    top: 2px;
    left: 2px;
  }
  .links {
    font-size: 13px;
    gap: 4px;
    display: flex;
    width: 100%;
    align-items: center;
  }
  .link {
    margin: 0;
    padding: 0;
  }
  .divButton {
    position: absolute;
    top: 11px;
    right: 18px;
    margin: 0px;
  }
  .button {
    margin: 0px;
    padding: 4px 3px;
  }
}

@media (min-width: 768px) and (max-width: 992px) {
  /* Estilos para pantallas con ancho entre 768px y 992px */
  .container {
    align-items: flex-end;
  }
  .logo {
    font-size: 8px;
    margin: 0em 0em;
    padding: 0px 0px;
    width: 12em;
    height: auto;
  }
  .divLogo {
    position: absolute;
    top: 2px;
    left: 2px;
  }
  .links {
    gap: 4px;
    display: flex;
    width: 100%;
    align-items: center;
  }
  .link {
    margin: 0;
    padding: 0;
  }
  .divButton {
    position: absolute;
    top: 16px;
    right: 18px;
    margin: 0px;
  }
  .button {
    margin: 0px;
    padding: 4px 3px;
  }
}

@media (min-width: 992px) and (max-width: 1230px) {
  /* Estilos para pantallas con ancho mínimo de 992px */
  .logo {
    font-size: 8px;
    margin: 0em 0em;
    padding: 0px 0px;
    width: 12em;
    height: auto;
  }
  .divLogo {
    position: absolute;
    top: 2px;
    left: 2px;
  }
}
